<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<table border="1" align="center">
    <tr>
        <td>Time</td>
        <td>Class</td>
        <td>Method</td>
    </tr>
    <tr th:each="logDetail : ${logDetails}">
        <td th:text="${logDetail.time}"></td>
        <td th:text="${logDetail.stringClass}"></td>
        <td th:text="${logDetail.stringMethod}"></td>
    </tr>
</table>

</body>
</html>